@charset "utf-8";

#wrap {
	> header {
		> h1 {
			color: #696f74;
			font-weight: 800;
		}
	} //end of header

	> section {
		> .topmenu {
			> nav {
				position: relative;
				left: 50%;
				width: 480px;
				transform: translate(-50%, 0);
				> ul {
					display: flex;
					> li {
						> a {
							display: block;
							width: 80px;
							height: 90px;
						}
						&:nth-child(1) {
							background-image: url(./../images/btn_talk.png);
							background-position: 0 0;
							&:hover,
							&.on {
								background-position: 0 -90px;
							}
						} // li:1
						&:nth-child(2) {
							background-image: url(./../images/btn_talk.png);
							background-position: -80px 0;
							&:hover,
							&.on {
								background-position: -80px -90px;
							}
						} // li:2
						&:nth-child(3) {
							background-image: url(./../images/btn_talk.png);
							background-position: -160px 0;
							&:hover,
							&.on {
								background-position: -160px -90px;
							}
						} // li:3
						&:nth-child(4) {
							background-image: url(./../images/btn_talk.png);
							background-position: -240px 0;
							&:hover,
							&.on {
								background-position: -240px -90px;
							}
						} // li:4
						&:nth-child(5) {
							background-image: url(./../images/btn_talk.png);
							background-position: -320px 0;
							&:hover,
							&.on {
								background-position: -320px -90px;
							}
						} // li:5
						&:nth-child(6) {
							background-image: url(./../images/btn_talk.png);
							background-position: -400px 0;
							&:hover,
							&.on {
								background-position: -400px -90px;
							}
						} // li:6
					} //end of li
				} //end of ul
			} //end of nav
		} //end of .topmenu
		> .prev {
			position: absolute;
			left: 50%;
			top: 50%;
			width: 44px;
			height: 44px;
			margin-right: 100px;
			text-indent: -9999px;
			background-image: url(./../images/img_talk_button.png);
			background-position: 0 0;
			z-index: 1000;
			transform: translate(-355px, -100%);
			> a {
				display: block;
				height: 44px;
			}
			&:hover {
				background-position: -70px 0;
			}
		} //end of .prev
		> .mainmenu {
			position: relative;
			left: 50%;
			width: 478px;
			height: 500px;
			transform: translate(-50%, 0);
			overflow: hidden;
			> .mainimg {
				position: absolute;
				left: 50%;
				margin-top: 20px;
				transform: translate(-50%, 0);

				display: flex;
				flex-flow: row nowrap;
				width: 478px;
				height: 438px;
			} //end of .maining
		} //end of .mainmenu
		> .next {
			position: absolute;
			right: 50%;
			top: 50%;
			width: 44px;
			text-indent: -9999px;
			background-image: url(./../images/img_talk_button.png);
			background-position: 0 -70px;
			transform: translate(355px, -100%);
			z-index: 1000;
			> a {
				display: block;
				height: 44px;
			}
			&:hover {
				background-position: -70px -70px;
			}
		} //end of .next
	} //end of section

	> footer {
		> p {
			color: #696f74;
		}
	} //end of footer
}
