#wrap > header > h1 {
  color: #696f74;
  font-weight: 800;
}
#wrap > section > .topmenu > nav {
  position: relative;
  left: 50%;
  width: 480px;
  transform: translate(-50%, 0);
}
#wrap > section > .topmenu > nav > ul {
  display: flex;
}
#wrap > section > .topmenu > nav > ul > li > a {
  display: block;
  width: 80px;
  height: 90px;
}
#wrap > section > .topmenu > nav > ul > li:nth-child(1) {
  background-image: url(./../images/btn_talk.png);
  background-position: 0 0;
}
#wrap > section > .topmenu > nav > ul > li:nth-child(1):hover, #wrap > section > .topmenu > nav > ul > li:nth-child(1).on {
  background-position: 0 -90px;
}
#wrap > section > .topmenu > nav > ul > li:nth-child(2) {
  background-image: url(./../images/btn_talk.png);
  background-position: -80px 0;
}
#wrap > section > .topmenu > nav > ul > li:nth-child(2):hover, #wrap > section > .topmenu > nav > ul > li:nth-child(2).on {
  background-position: -80px -90px;
}
#wrap > section > .topmenu > nav > ul > li:nth-child(3) {
  background-image: url(./../images/btn_talk.png);
  background-position: -160px 0;
}
#wrap > section > .topmenu > nav > ul > li:nth-child(3):hover, #wrap > section > .topmenu > nav > ul > li:nth-child(3).on {
  background-position: -160px -90px;
}
#wrap > section > .topmenu > nav > ul > li:nth-child(4) {
  background-image: url(./../images/btn_talk.png);
  background-position: -240px 0;
}
#wrap > section > .topmenu > nav > ul > li:nth-child(4):hover, #wrap > section > .topmenu > nav > ul > li:nth-child(4).on {
  background-position: -240px -90px;
}
#wrap > section > .topmenu > nav > ul > li:nth-child(5) {
  background-image: url(./../images/btn_talk.png);
  background-position: -320px 0;
}
#wrap > section > .topmenu > nav > ul > li:nth-child(5):hover, #wrap > section > .topmenu > nav > ul > li:nth-child(5).on {
  background-position: -320px -90px;
}
#wrap > section > .topmenu > nav > ul > li:nth-child(6) {
  background-image: url(./../images/btn_talk.png);
  background-position: -400px 0;
}
#wrap > section > .topmenu > nav > ul > li:nth-child(6):hover, #wrap > section > .topmenu > nav > ul > li:nth-child(6).on {
  background-position: -400px -90px;
}
#wrap > section > .prev {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 44px;
  height: 44px;
  margin-right: 100px;
  text-indent: -9999px;
  background-image: url(./../images/img_talk_button.png);
  background-position: 0 0;
  z-index: 1000;
  transform: translate(-355px, -100%);
}
#wrap > section > .prev > a {
  display: block;
  height: 44px;
}
#wrap > section > .prev:hover {
  background-position: -70px 0;
}
#wrap > section > .mainmenu {
  position: relative;
  left: 50%;
  width: 478px;
  height: 500px;
  transform: translate(-50%, 0);
  overflow: hidden;
}
#wrap > section > .mainmenu > .mainimg {
  position: absolute;
  left: 50%;
  margin-top: 20px;
  transform: translate(-50%, 0);
  display: flex;
  flex-flow: row nowrap;
  width: 478px;
  height: 438px;
}
#wrap > section > .next {
  position: absolute;
  right: 50%;
  top: 50%;
  width: 44px;
  text-indent: -9999px;
  background-image: url(./../images/img_talk_button.png);
  background-position: 0 -70px;
  transform: translate(355px, -100%);
  z-index: 1000;
}
#wrap > section > .next > a {
  display: block;
  height: 44px;
}
#wrap > section > .next:hover {
  background-position: -70px -70px;
}
#wrap > footer > p {
  color: #696f74;
}/*# sourceMappingURL=style.css.map */